body {
    font-family: 'Poppins', sans-serif;
    background: #2c2c2c; 
    color: #f8f9fa; 
}

.container {
    background: #3a3a3a; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #ffffff;
    font-weight: 600;
}

p, label, small {
    color: #d1d1d1;
}

.centered-textarea {
    color: #d1d1d1;
    display: flex;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
    background-color: #4a4a4a; 
}

.custom-btn {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    color: #ffffff;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #138496;
    border: 1px solid #138496;
    transform: scale(1.05);
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-weight: 500;
}

.footer {
    background-color: #3a3a3a;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #d1d1d1;
    margin-top: 50px;
    border-top: 1px solid #4a4a4a;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #4a4a4a;
}

#inputOfPrefix, #inputOfAdmin {
    padding: 13px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #4a4a4a;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d1d1d1;
}

.center-placeholder::placeholder {
    text-align: center;
    color: #d1d1d1;
}
